<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone-vertx-mini.xml" model="standalone">
    <feature-group name="standalone-minimalistic"/>
    <layers>
        <include name="ejb-lite" />
        <include name="jaxrs-server" />
        <include name="vertx" />
    </layers>

</config>
